$blue: #4078A0;
$blue-dark: #1E567E;
$blue-light: #6199C1;

$black: #1A1A1A;
$black-dark: #0C0C0D;
$black-light: #292929;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #A1A3A5;
$gray-2: #B5B6B8;
$gray-3: #959698;